﻿
@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "Index";
}

<div class="row fontClass">

    <h3>
        Your class page for: @Html.DisplayFor(Name => Model.cl.Name)
    </h3>

    <div class="container">
        <div>
            <div class="col-lg-6" id="teacherPage">
                <h3>Description</h3>
                <p style="font-size:14px;">
                    @Html.DisplayFor(Description => Model.cl.Description)
                </p>
            </div>
            <div class="col-sm-6" id="teacherPage">
                <h3> Notifications </h3>
                @foreach (var notif in Model.notifs)
                {
                    <p>
                        @Html.DisplayFor(Notification => notif.Notification)
                    </p>
                }
            </div>
        </div>
    </div>
    <hr class="style-four" />
    <hr class="style-four" />


</div>
